<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gdcm-sharp" version="2.4.4-alpha" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.4-ci1300" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.1.1-ci1300" targetFramework="net472" />
</packages>